{% extends "ImieTransportBundle:Home:index.html.twig" %}
{% block content %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <div class="container">
        <h1> {{ titre }}</h1>
        {{ form(form) }}
    </div>
{% endblock %}