<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Message alerte stock</h1>
    <p>Vous recevez ce message car le produit {{ produit.libelle }} arrive à un niveau de stock critique.</p>
    <p>Limite stock : {{ produit.limiteStock }}</p>
    <p>stock actuel : {{ produit.stock }}</p>
</body>
</html>